body {
    text-align: center;
    background-color: #f5f5f5;
  }
  .row{
    margin: 100px 0px;
  }
  .browse_button{
    width: auto;
    margin: 20px auto;
  }

  .dropdown_selector{
    display: block;
    width: auto;
    margin: 0px auto;
  }

  .center-or{
    margin: auto;
  }

